html, body, #root, .App {
  height: 100%;
}

.App {
  background-color: #0cebeb;
  background: -webkit-linear-gradient(to right, #19ffc6, #20e3b2, #0cebeb);
  background: linear-gradient(to right, #19ffc6, #20e3b2, #0cebeb);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 500px;
  padding: 30px;
}

.add-todo-input {
  width: 100%
}
